.row {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-image: url(https://c.wallhere.com/photos/b5/e1/1920x1200_px_abstract_Andy_Gilmore_circle_geometry_Graphic_Design_pattern-777832.jpg!d);
}

#searchBtn {
    background-color: teal;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.artist-list {
    background-color: skyblue;
}

h1 {
    color: whitesmoke;
    text-align: center;
    background-color: orange;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

#name {
    width: 100%;
}

#info {
    background-color: orange;
    height: max-content;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 5%;
    color: whitesmoke;
}

img {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

