.row {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-image: url(https://c.wallhere.com/photos/b5/e1/1920x1200_px_abstract_Andy_Gilmore_circle_geometry_Graphic_Design_pattern-777832.jpg!d);
}

#searchBtn {
    background-color: teal;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.artist-list {
    background-color: skyblue;
}
