
.jumbotron {
    background-color: lightseagreen;
    border: 8px;
    border-radius: 8px;
    border-style: solid;
    border-color: aquamarine;
    text-decoration: underline;
    text-decoration-color: darkslategray;
    color: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.row {
    column-count: 3;
    margin: 5%;
}

.card1,
.card2,
.card3,
.card4 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: paleturquoise;
    border: 8px;
    border-radius: 8px;
    border-style: solid;
    border-color: skyblue;
    margin: 15px;
    position: relative;
    height: 500px;
}

.card-title {
    font-weight: bolder;
    text-decoration: underline;
}

body {
    background-image: url(https://c.wallhere.com/photos/b5/e1/1920x1200_px_abstract_Andy_Gilmore_circle_geometry_Graphic_Design_pattern-777832.jpg!d);
}

#card-pics {
    padding: 5px 5px;
    width: 270px;
    height: 200px;
}

.lead {
    margin: 10px;
}

#OSM-Logo {
    max-width: 350px;
}